---
layout: about-layout
active: about
subActive: about
title: À propos de nous
titleDescription: À la Pratique de Psychothérapie Leloh, notre équipe s'engage à honorer et célébrer la diversité de la tapisserie des expériences humaines. Nous reconnaissons les antécédents culturels uniques de nos clients et nous efforçons de proposer des interventions thérapeutiques non seulement efficaces, mais aussi culturellement sensibles.
description: À la pratique de psychothérapie Leloh, notre équipe est dévouée à honorer et célébrer la diversité des expériences humaines. Nous reconnaissons les origines culturelles uniques de nos clients et nous efforçons d'offrir des interventions thérapeutiques non seulement efficaces, mais aussi culturellement sensibles.
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3 mb-0">
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>">
              <%= t(:home) %>
            </a>
          </li>
          <li class="breadcrumb-item active">
            <%= t(:about) %>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<!-- About -->
<div class="section-lg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          À la pratique de psychothérapie Leloh, notre équipe est dévouée à honorer et célébrer la diversité des expériences humaines. Nous reconnaissons les origines culturelles uniques de nos clients et nous efforçons d'offrir des interventions thérapeutiques non seulement efficaces, mais aussi culturellement sensibles.
        </p>
        <p>
          Nous vous invitons à entreprendre un voyage de guérison où votre identité culturelle n'est pas simplement reconnue, mais tissée dans le tissu même de votre expérience thérapeutique. Bienvenue dans un espace où vous êtes vu, entendu et soutenu sur votre chemin vers le bien-être.
        </p>

        <h2 class="title-xs title-underline title-underline-xs">
          Notre mission
        </h2>

        <p>
          À travers des pratiques basées sur des preuves et un engagement envers l'inclusivité, nous nous efforçons de désamorcer la stigmatisation de la recherche de soutien, de favoriser la résilience et de cultiver une communauté où la santé mentale est célébrée comme une composante essentielle du bien-être global. Nous sommes passionnément déterminés à guider les individus dans un voyage de découverte de soi, de résilience émotionnelle et de bien-être mental durable.
        </p>

        <h2 class="title-xs title-underline title-underline-xs">
          Notre vision
        </h2>
        <p>
          Pour cultiver une société où le bien-être mental fait partie intégrante de la vie quotidienne, notre pratique imagine un avenir où les individus intègrent sans heurt l'hygiène mentale dans leurs routines. À travers des thérapies responsabilisantes et une psychoéducation culturellement sensible, nous aspirons à désamorcer la stigmatisation de la santé mentale, favorisant un monde où chercher du soutien pour le bien-être émotionnel est aussi courant que prendre soin de sa santé physique. Nous nous engageons à créer un espace où chaque individu se sent validé, entendu et soutenu dans son cheminement vers un bien-être mental durable.
        </p>

      </div>
    </div>
  </div>
</div>