---
layout: layout
active: about
title: Politique de confidentialité
description: Politique de confidentialité
---

<!-- Page header -->
<div class="section hero-section">
  <div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-6">
          <h1 class="text-center title-underline title-underline-center title-underline-md">
            <%= current_page.data.title %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3 mb-0">
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>">
              <%= t(:home) %>
            </a>
          </li>          
          <li class="breadcrumb-item active" aria-current="page">
            <%= t(:privacy_policy) %>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          <strong>
            Politique de confidentialité de Leloh Therapy.
          </strong>          
          <br>
          <strong>
            Dernière mise à jour :
          </strong>
           03-06-2024
        </p>
        <p>
          Cette politique de confidentialité décrit comment Leloh Therapy (le "Site", "nous", "nos", ou "notre") collecte, utilise et divulgue vos informations personnelles lorsque vous visitez, utilisez nos services ou effectuez un achat sur lelohtherapy.com (le "Site") ou communiquez autrement avec nous (collectivement, les "Services"). Aux fins de cette politique de confidentialité, "vous" désigne l'utilisateur des Services, que vous soyez un client, un visiteur du site Web ou une autre personne dont nous avons collecté des informations conformément à cette politique de confidentialité.
        </p>
        <p>
          Veuillez lire attentivement cette politique de confidentialité. En utilisant et accédant à l'un quelconque des Services, vous acceptez la collecte, l'utilisation et la divulgation de vos informations telles que décrites dans cette politique de confidentialité. Si vous n'acceptez pas cette politique de confidentialité, veuillez ne pas utiliser ni accéder à l'un quelconque des Services.
        </p>
        <p>
          <strong>
            Changements à cette politique de confidentialité
          </strong>
          <br>
          Nous pouvons mettre à jour cette politique de confidentialité de temps à autre, y compris pour refléter des changements dans nos pratiques ou pour d'autres raisons opérationnelles, légales ou réglementaires. Nous publierons la politique de confidentialité révisée sur le site, mettrons à jour la date de "Dernière mise à jour" et prendrons toutes les autres mesures nécessaires en vertu de la loi applicable.
        </p>
        <p>
          <strong>Comment nous recueillons et utilisons vos informations personnelles</strong>          
          <br>
          Pour fournir les services, nous collectons et avons collecté au cours des 12 derniers mois des informations personnelles vous concernant à partir de diverses sources, comme décrit ci-dessous. Les informations que nous collectons et utilisons varient en fonction de la manière dont vous interagissez avec nous.
        </p>
        <p>
          En plus des utilisations spécifiques énumérées ci-dessous, nous pouvons utiliser les informations que nous collectons vous concernant pour communiquer avec vous, fournir les services, respecter toutes les obligations légales applicables, faire respecter les conditions de service applicables et protéger ou défendre les services, nos droits, et les droits de nos utilisateurs ou d'autres personnes.
        </p>
        <p>
          <strong>
            Les informations personnelles que nous collectons
          </strong>
          <br>
          Les types d'informations personnelles que nous obtenons à votre sujet dépendent de la manière dont vous interagissez avec notre site et utilisez nos services. Lorsque nous utilisons le terme "informations personnelles", nous faisons référence à des informations qui vous identifient, sont liées à vous, vous décrivent ou peuvent être associées à vous. Les sections suivantes décrivent les catégories et les types spécifiques d'informations personnelles que nous collectons.
        </p>
        <p>
          <strong>
            Les informations que nous recueillons directement auprès de vous
          </strong>
          <br>
          Les informations que vous soumettez directement à travers nos services peuvent inclure :
          <ul>
            <li>
              Les coordonnées de base, y compris votre nom, adresse, numéro de téléphone, adresse e-mail.
            </li>
            <li>
              Les informations de commande, y compris votre nom, adresse de facturation, adresse de livraison, confirmation de paiement, adresse e-mail, numéro de téléphone.
            </li>
            <li>
              Les informations de compte, y compris votre nom d'utilisateur, mot de passe, questions de sécurité.
            </li>
            <li>
              Les informations d'achat incluant les articles que vous consultez, mettez dans votre panier ou ajoutez à votre liste de souhaits.
            </li>
            <li>
              Les informations de support client incluent les informations que vous choisissez d'inclure dans les communications avec nous, par exemple, lors de l'envoi d'un message à travers les services.
            </li>
          </ul>                    
          Certaines fonctionnalités des services peuvent nécessiter que vous nous fournissiez directement certaines informations vous concernant. Vous pouvez choisir de ne pas fournir ces informations, mais cela peut vous empêcher d'utiliser ou d'accéder à ces fonctionnalités.
        </p>
        <p>
          <strong>
            Les informations que nous collectons via les cookies
          </strong>
          <br>
          Nous recueillons également automatiquement certaines informations sur votre interaction avec les services (« Données d'utilisation »). Pour ce faire, nous pouvons utiliser des cookies, des pixels et des technologies similaires (« Cookies »). Les données d'utilisation peuvent inclure des informations sur la manière dont vous accédez et utilisez notre site et votre compte, y compris des informations sur votre appareil, votre navigateur, des informations sur votre connexion réseau, votre adresse IP et d'autres informations concernant votre interaction avec les services.
        </p>
        <p>
          <strong>
            Les informations que nous obtenons auprès de tiers
          </strong>
          <br>
          Enfin, nous pouvons obtenir des informations vous concernant auprès de tiers, y compris de fournisseurs et de prestataires de services qui peuvent collecter des informations en notre nom, tels que :
          <ul>
            <li>
              Des entreprises qui soutiennent notre site et nos services, comme Shopify.
            </li>
            <li>
              Nos processeurs de paiement, qui collectent des informations de paiement (par exemple, le numéro de compte bancaire, les informations de carte de crédit ou de débit, l'adresse de facturation) pour traiter votre paiement afin de remplir vos commandes et de vous fournir les produits ou services que vous avez demandés, afin d'exécuter notre contrat avec vous.
            </li>
            <li>
              Lorsque vous visitez notre site, ouvrez ou cliquez sur les e-mails que nous vous envoyons, ou interagissez avec nos services ou publicités, nous, ou des tiers avec lesquels nous travaillons, pouvons collecter automatiquement certaines informations à l'aide de technologies de suivi en ligne telles que des pixels, des balises web, des kits de développement logiciel, des bibliothèques tierces et des cookies.
            </li>
          </ul>
          
          Toute information que nous obtenons de tiers sera traitée conformément à cette politique de confidentialité. Nous ne sommes pas responsables de l'exactitude des informations fournies par des tiers et ne sommes pas responsables des politiques ou pratiques de ces tiers. Pour plus d'informations, consultez la section ci-dessous, Sites Web et Liens Tiers.
        </p>
        <p>
          <strong>
            Comment utilisons-nous vos informations personnelles
          </strong>
          <ul>
            <li>
              Fournir des produits et des services. Nous utilisons vos informations personnelles pour vous fournir les Services afin d'exécuter notre contrat avec
               vous, y compris pour traiter vos paiements, exécuter vos commandes, pour vous envoyer des notifications relatives à votre compte, à vos achats, retours, échanges ou autres transactions, pour créer, maintenir et gérer votre compte, pour organiser l'expédition, faciliter les retours et les échanges
               et pour vous permettre de publier des avis.
            </li>
            <li>
              Marketing et publicité. Nous utilisons vos informations personnelles à des fins de marketing et de promotion, par exemple pour envoyer des messages marketing,
               communications publicitaires et promotionnelles par e-mail, SMS ou courrier postal, et pour vous montrer des publicités pour des produits ou des services.
               Cela peut inclure l'utilisation de vos informations personnelles pour mieux adapter les services et la publicité sur notre site et d'autres sites Web.
            </li>
            <li>
              Sécurité et prévention de la fraude. Nous utilisons vos informations personnelles pour détecter, enquêter ou prendre des mesures concernant d'éventuelles fraudes, illégales.
               ou une activité malveillante. Si vous choisissez d'utiliser les Services et de créer un compte, vous êtes responsable de la sécurité des informations d'identification de votre compte. Nous vous recommandons fortement de ne partager votre nom d'utilisateur, votre mot de passe ou d'autres informations d'accès avec personne d'autre. Si vous croyez votre récit
               a été compromis, veuillez nous contacter immédiatement.
            </li>
            <li>
              Communiquer avec vous. Nous utilisons vos informations personnelles pour vous fournir une assistance client et améliorer nos services. C'est dans notre
               intérêts légitimes afin de répondre à vos besoins, de vous fournir des services efficaces et de maintenir notre relation commerciale avec vous.
            </li>
          </ul>
        </p>
        <p>
          <strong>
            Cookies
          </strong>
          <br>
          Comme de nombreux sites Web, nous utilisons des cookies sur notre Site. Nous utilisons des cookies pour alimenter et améliorer notre site et nos services (y compris pour nous souvenir
           vos actions et préférences), pour exécuter des analyses et mieux comprendre l'interaction des utilisateurs avec les Services (dans notre intérêt légitime de
           administrer, améliorer et optimiser les Services). Nous pouvons également autoriser des tiers et des prestataires de services à utiliser des cookies sur notre site pour mieux
           adapter les services, produits et publicités sur notre site et d’autres sites Web.
          <br>
          La plupart des navigateurs acceptent automatiquement les cookies par défaut, mais vous pouvez choisir de configurer votre navigateur pour supprimer ou rejeter les cookies via votre
           contrôles du navigateur. Veuillez garder à l'esprit que la suppression ou le blocage des cookies peut avoir un impact négatif sur votre expérience utilisateur et entraîner certains problèmes.
           les Services, y compris certaines fonctionnalités et fonctionnalités générales, ne fonctionnent pas correctement ou ne sont plus disponibles. De plus, bloquer les cookies
           ne peut pas empêcher complètement la manière dont nous partageons des informations avec des tiers tels que nos partenaires publicitaires.
        </p>
        <p>
          <strong>
            Comment nous divulguons les informations personnelles
          </strong>
          <br>
          Dans certaines circonstances, nous pouvons divulguer vos informations personnelles à des tiers à des fins légitimes, sous réserve de la présente politique de confidentialité.
           De telles circonstances peuvent inclure :
          <br>
          <ul>
            <li>
              Avec des fournisseurs ou d'autres tiers qui fournissent des services en notre nom (par exemple, gestion informatique, traitement des paiements, analyse de données, gestion des clients)
               support, stockage cloud, exécution et expédition).
            </li>
            <li>
              Avec des partenaires commerciaux et marketing, pour vous fournir des services et vous faire de la publicité. Nos partenaires commerciaux et marketing utiliseront vos informations conformément à leurs
               propres avis de confidentialité.
            </li>
            <li>
              Lorsque vous nous demandez, nous demandez ou consentez de toute autre manière à ce que nous divulguions certaines informations à des tiers, par exemple pour vous expédier des produits ou
               via votre utilisation de widgets de réseaux sociaux ou d'intégrations de connexion, avec votre consentement.
            </li>
            <li>
              Avec nos sociétés affiliées ou autrement au sein de notre groupe d'entreprises, dans notre intérêt légitime de gérer une entreprise prospère.
            </li>
            <li>
              Dans le cadre d'une transaction commerciale telle qu'une fusion ou une faillite, pour se conformer à toutes les obligations légales applicables (y compris
               répondre aux assignations à comparaître, aux mandats de perquisition et aux demandes similaires), pour faire respecter les conditions de service applicables et pour protéger ou défendre le
               Services, nos droits et les droits de nos utilisateurs ou autres.
            </li>
          </ul>
                              
          Nous avons, au cours des 12 derniers mois, divulgué les catégories suivantes d'informations personnelles et d'informations personnelles sensibles (indiquées par *)
           sur les utilisateurs aux fins énoncées ci-dessus dans « Comment nous collectons et utilisons vos informations personnelles » et « Comment nous divulguons les informations personnelles »
           sur les utilisateurs aux fins énoncées ci-dessus dans « Comment nous collectons et utilisons vos informations personnelles » et « Comment nous divulguons les informations personnelles »
           Information":  
        </p>
        <p>
          <strong>
            Catégorie:
          </strong>
          <br>
          <ul>
            <li>
              Identifiants tels que les coordonnées de base et certaines informations de commande et de compte
            </li>
            <li>
              Informations commerciales telles que les informations de commande, les informations d'achat et les informations de support client
            </li>
            <li>
              Internet ou toute autre activité réseau similaire, telle que les données d'utilisation
            </li>
          </ul>
        </p>
        <p>
          <strong>
            Catégories de destinataires :
          </strong>
          <ul>
            <li>
              Fournisseurs et tiers qui fournissent des services en notre nom (tels que les fournisseurs de services Internet, les processeurs de paiement, les partenaires d'exécution,
               partenaires de support client et fournisseurs d'analyse de données)
            </li>
            <li>
              Partenaires commerciaux et marketing
            </li>
            <li>
              Affiliés
            </li>
          </ul>

          Nous n'utilisons ni ne divulguons d'informations personnelles sensibles dans le but de déduire des caractéristiques vous concernant.
        </p>
        <p>
          <strong>
            Sites Web et liens tiers
          </strong>
          <br>
          Notre Site peut fournir des liens vers des sites Web ou d'autres plateformes en ligne exploitées par des tiers. Si vous suivez des liens vers des sites non affiliés ou non contrôlés par nous, vous devez consulter leurs politiques de confidentialité et de sécurité ainsi que leurs autres termes et conditions. Nous ne garantissons pas et ne sommes pas responsables
           la confidentialité ou la sécurité de ces sites, y compris l'exactitude, l'exhaustivité ou la fiabilité des informations trouvées sur ces sites. Informations que vous
           fournissez sur des lieux publics ou semi-publics, y compris les informations que vous partagez sur des plateformes de réseaux sociaux tierces peuvent également être visibles par
           d'autres utilisateurs des Services et/ou utilisateurs de ces plateformes tierces sans limitation quant à son utilisation par nous ou par un tiers. Notre inclusion de ces liens n'implique pas, en soi, une approbation du contenu de ces plateformes ou de leurs propriétaires ou opérateurs, sauf dans les cas divulgués sur
           les services.
        </p>
        <p>
          <strong>
            Données sur les enfants
          </strong>
          <br>
          Les Services ne sont pas destinés à être utilisés par des enfants et nous ne collectons sciemment aucune information personnelle sur les enfants. Si vous êtes le
           parent ou tuteur d'un enfant qui nous a fourni ses informations personnelles, vous pouvez nous contacter en utilisant les coordonnées indiquées ci-dessous
           pour demander sa suppression.
          <br>
          À la date d'entrée en vigueur de la présente politique de confidentialité, nous ne savons pas réellement que nous « partageons » ou « vendons » (tels que ces termes sont définis dans
           loi applicable) les renseignements personnels des personnes âgées de moins de 16 ans.
        </p>
        <p>
          <strong>
            Sécurité et conservation de vos informations
          </strong>
          <br>
          Veuillez noter qu'aucune mesure de sécurité n'est parfaite ou impénétrable et que nous ne pouvons pas garantir une « sécurité parfaite ». De plus, tout
           les informations que vous nous envoyez peuvent ne pas être sécurisées pendant leur transit. Nous vous recommandons de ne pas utiliser de canaux non sécurisés pour nous communiquer des informations sensibles ou confidentielles.
        </p>
        <p>
          La durée pendant laquelle nous conservons vos informations personnelles dépend de différents facteurs, par exemple si nous avons besoin de ces informations pour conserver votre
           compte, pour fournir les Services, se conformer aux obligations légales, résoudre des litiges ou faire respecter d'autres contrats et politiques applicables.
           Vos droits et choix
        </p>
        <p>
          Selon l'endroit où vous vivez, vous pouvez bénéficier de tout ou partie des droits énumérés ci-dessous concernant vos informations personnelles. Cependant, ces
           les droits ne sont pas absolus, ne peuvent s’appliquer que dans certaines circonstances et, dans certains cas, nous pouvons refuser votre demande comme le permet la loi.
           - Droit d'accès/connaissance. Vous pouvez avoir le droit de demander l'accès aux informations personnelles que nous détenons à votre sujet, y compris les détails relatifs à
           la manière dont nous utilisons et partageons vos informations.
           - Droit de suppression. Vous pouvez avoir le droit de demander que nous supprimions les informations personnelles que nous conservons à votre sujet.
           - Droit de corriger. Vous pouvez avoir le droit de nous demander de corriger les informations personnelles inexactes que nous conservons à votre sujet.
           - Droit à la portabilité. Vous pouvez avoir le droit de recevoir une copie des informations personnelles que nous détenons à votre sujet et de demander que nous les transférions.
           à un tiers, dans certaines circonstances et avec certaines exceptions.
        </p>
        <p>
          <ul>
            <li>
              Droit de refuser la vente, le partage ou la publicité ciblée. Vous pouvez avoir le droit de nous demander de ne pas « vendre » ou « partager » vos informations personnelles.
               informations ou de refuser le traitement de vos informations personnelles à des fins considérées comme de la « publicité ciblée », telle que définie dans
               lois applicables en matière de confidentialité. Veuillez noter que si vous visitez notre site avec le signal de préférence de désinscription du Global Privacy Control activé, en fonction de
               où que vous soyez, nous traiterons automatiquement cela comme une demande de refus de la « vente » ou du « partage » d'informations pour l'appareil et le navigateur que vous utilisez.
               que vous utilisez pour visiter le Site.
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
