---
layout: about-layout
active: about
subActive: therapist
title: Meet the therapist
titleDescription: Sandra Sassa, Psychotherapist (MSW, RSW)
description: Hello, I'm Sandra Sassa, Founder of  Leloh Therapy. The creation of this private practice stems from a profound journey of personal discovery, emphasizing the critical importance of daily mental hygiene. My lived experiences and academic background converge to fuel my advocacy for the normalization of therapies and the destigmatization of mental health.
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3 mb-0">
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>">
              Home
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>about-us">
              About
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Meet the therapist
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<!-- Meet the therapist -->
<div class="section-lg">
  <div class="container">
    
    <div class="therapist-card rounded shadow-sm">
      <div class="row g-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="image-holder">
            <img src="/images/therapist.png" class="img-fluid">
          </div>          
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="content">
            <h4 class="title title-underline title-underline-xs">
              <small>
                Psychotherapist (MSW, RSW)
              </small>
              Sandra Sassa
            </h4>

            <p>
              Hello, I'm Sandra Sassa, Founder of  Leloh Therapy. The creation of this private practice stems from a profound journey of personal discovery, emphasizing the critical importance of daily mental hygiene. My lived experiences and academic background converge to fuel my advocacy for the normalization of therapies and the destigmatization of mental health.
            </p>        
            <p>
              I am a staunch advocate for the normalization of therapy. It is my firm belief that seeking support for one's mental health should be as commonplace as any other aspect of our well-being. By normalizing therapy, we break down barriers and create a space where individuals feel empowered to prioritize their mental health without fear or judgment.
            </p>
            <p>
              Central to my practice is the mission to destigmatize mental health. Through education, awareness, and open dialogue, we work towards dismantling the misconceptions surrounding mental well-being. Leloh Therapy is a safe haven where individuals can unpack life's challenges without the weight of societal judgment.
            </p>
            <p>
              I am committed to offering therapy that is deeply rooted in cultural awareness and anti-oppressive frameworks. These approaches acknowledge the unique experiences of each individual and provide a foundation for compassionate and inclusive care.              
            </p>
            <p>
              I invite you to join me on this journey of self-discovery, healing, and empowerment. At Leloh Therapy, we celebrate the strength within every individual and strive to create a space where mental well-being is not just acknowledged but embraced as an integral part of a fulfilling life.
            </p>
          </div>          
        </div>
      </div>
    </div>    
  </div>
</div>