---
layout: about-layout
active: about
subActive: therapist
title: Rencontrez le thérapeute
titleDescription: Sandra Sassa, Psychothérapeute (MSW, RSW)
description: Bonjour, je m'appelle Sandra Sassa, fondatrice de Leloh Therapy. La création de ce cabinet privé découle d'un profond voyage de découverte personnelle, mettant l'accent sur l'importance cruciale de l'hygiène mentale quotidienne. Mes expériences vécues et ma formation universitaire convergent pour alimenter mon plaidoyer en faveur de la normalisation des thérapies et de la déstigmatisation de la santé mentale.
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3 mb-0">
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>">
              <%= t(:home) %>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>about-us">
              <%= t(:about) %>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Rencontrez le thérapeute
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<!-- Meet the therapist -->
<div class="section-lg">
  <div class="container">
    
    <div class="therapist-card rounded shadow-sm">
      <div class="row g-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="image-holder">
            <img src="/images/therapist.png" class="img-fluid">
          </div>          
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="content">
            <h4 class="title title-underline title-underline-xs">
              <small>
                Psychothérapeute (MSW, RSW)
              </small>
              Sandra Sassa
            </h4>
            
            <p>
              Bonjour, je m'appelle Sandra Sassa, fondatrice de Leloh Therapy. La création de ce cabinet privé découle d'un profond voyage de découverte personnelle, mettant l'accent sur l'importance cruciale de l'hygiène mentale quotidienne. Mes expériences vécues et ma formation universitaire convergent pour alimenter mon plaidoyer en faveur de la normalisation des thérapies et de la déstigmatisation de la santé mentale.
            </p>        
            <p>
              Je suis un ardent défenseur de la normalisation de la thérapie. Je suis fermement convaincu que rechercher du soutien pour sa santé mentale devrait être aussi courant que tout autre aspect de notre bien-être. En normalisant la thérapie, nous éliminons les barrières et créons un espace où les individus se sentent habilités à donner la priorité à leur santé mentale sans crainte ni jugement.
            </p>
            <p>
              Au cœur de ma pratique se trouve la mission de déstigmatiser la santé mentale. Grâce à l’éducation, à la sensibilisation et à un dialogue ouvert, nous travaillons à démanteler les idées fausses entourant le bien-être mental. Leloh Therapy est un refuge où les individus peuvent relever les défis de la vie sans le poids du jugement de la société.
            </p>
            <p>
              Je m'engage à offrir une thérapie profondément ancrée dans la conscience culturelle et les cadres anti-oppressifs. Ces approches reconnaissent les expériences uniques de chaque individu et constituent une base pour des soins compatissants et inclusifs.
            </p>
            <p>
              Je vous invite à me rejoindre dans ce voyage de découverte de soi, de guérison et d'autonomisation. Chez Leloh Therapy, nous célébrons la force de chaque individu et nous nous efforçons de créer un espace où le bien-être mental n'est pas seulement reconnu mais adopté comme partie intégrante d'une vie épanouissante.
            </p>
          </div>          
        </div>
      </div>
    </div>    
  </div>
</div>