---
layout: about-layout
active: about
subActive: values
title: Valeurs et principes
titleDescription: Nous intégrons des croyances et des principes chrétiens dans certains processus thérapeutiques. Dans ces approches, nous nous appuyons sur les enseignements, les valeurs et la spiritualité chrétiens pour guider le travail thérapeutique avec des clients de confession chrétienne.
description: Un engagement à comprendre et à partager les sentiments des clients, en favorisant une relation thérapeutique compatissante et sans jugement.
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3 mb-0">
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>">
              <%= t(:home) %>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>about-us">
              <%= t(:about) %>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Valeurs et principes
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<!-- Values and principles -->
<div class="section-lg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-xs title-underline title-underline-xs">
          Valeurs
        </h2>

        <ul class="list-unstyled">
          <li>
            <strong>
              Empathie et compassion
            </strong>
            <p>
              Un engagement à comprendre et à partager les sentiments des clients, en favorisant une relation thérapeutique compatissante et sans jugement.
            </p>
          </li>
          <li>
            <strong>
              Pratique éthique
            </strong>
            <p>
              Adhésion à un cadre éthique solide, comprenant la confidentialité, le consentement éclairé et un engagement envers le bien-être et les droits des clients.
            </p>
          </li>
          <li>
            <strong>
              Sensibilité culturelle
            </strong>
            <p>
              Reconnaissance et respect de la diversité des origines, des cultures et des identités des clients, avec un engagement à fournir des soins culturellement sensibles et inclusifs.
            </p>
          </li>
          <li>
            <strong>
              Approche centrée sur le client
            </strong>
            <p>
              Donner la priorité aux besoins, aux objectifs et à l'autonomie du client dans le processus thérapeutique, en favorisant la collaboration et la prise de décision partagée.
            </p>
          </li>
          <li>
            <strong>
              Transparence
            </strong>
            <p>
              Communication ouverte et honnête avec les clients sur le processus thérapeutique, les attentes et toute information pertinente, favorisant la confiance et la collaboration.
            </p>
          </li>
        </ul>
      
        <h2 class="title-xs title-underline title-underline-xs">
          Des principes
        </h2>
        
        <p>
          Nous pouvons utiliser les principes et les enseignements bibliques comme base pour aborder divers problèmes de santé mentale. Cela pourrait inclure l’exploration de questions telles que le pardon, la grâce, l’amour et l’importance de la communauté.
        </p>
        
        <ul class="list-unstyled">
          <li>
            <strong>
              Prière et spiritualité
            </strong>
            <p>
              La prière et la spiritualité font souvent partie intégrante de la psychothérapie de la foi chrétienne. Nous pouvons encourager les clients à intégrer la prière dans leur processus de guérison et à explorer comment leur foi peut leur apporter force et conseils.
            </p>
          </li>
          <li>
            <strong>
              Valeur de la communauté et du soutien
            </strong>
            <p>
              Nous soulignons l'importance de la communauté et du soutien dans le contexte d'une église ou d'une communauté chrétienne. Construire un sentiment d’appartenance et de connexion avec les autres est souvent considéré comme un aspect crucial de la santé mentale.
            </p>
          </li>
          <li>
            <strong>
              Approche holistique
            </strong>          
            <p>
              Nous adoptons une approche holistique, abordant non seulement le bien-être mental et émotionnel, mais prenant également en compte les aspects spirituels, physiques et sociaux de la vie d'une personne.
            </p>  
          </li>
          <li>
            <strong>
              Respect de la diversité des croyances
            </strong>
            <p>
              Nous respectons la diversité des croyances parmi les clients. Bien que les principes chrétiens guident la thérapie, les thérapeutes sont généralement formés pour être sensibles aux clients ayant des origines religieuses ou spirituelles différentes.
            </p>
          </li>    
        </ul>

      </div>
    </div>
  </div>
</div>