---
layout: about-layout
active: about
subActive: values
title: Values and principles
titleDescription: We  integrate Christian beliefs and principles in some  therapeutic processes. In these  approaches, we  draw on Christian teachings, values, and spirituality to guide the therapeutic work with clients with Christian faith.
description: A commitment to understanding and sharing the feelings of clients, fostering a compassionate and non-judgmental therapeutic relationship.
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3 mb-0">
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>">
              Home
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>about-us">
              About
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Values and principles
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<!-- Values and principles -->
<div class="section-lg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-xs title-underline title-underline-xs">
          Values
        </h2>

        <ul class="list-unstyled">
          <li>
            <strong>
              Empathy and Compassion
            </strong>
            <p>
              A commitment to understanding and sharing the feelings of clients, fostering a compassionate and non-judgmental therapeutic relationship.
            </p>
          </li>
          <li>
            <strong>
              Ethical Practice
            </strong>
            <p>
              Adherence to a strong ethical framework, including confidentiality, informed consent, and a commitment to the well-being and rights of clients.
            </p>
          </li>
          <li>
            <strong>
              Cultural sensitivity
            </strong>
            <p>
              Recognition and respect for the diverse backgrounds, cultures, and identities of clients, with a commitment to providing culturally sensitive and inclusive care.
            </p>
          </li>
          <li>
            <strong>
              Client-Centered Approach
            </strong>
            <p>
              Prioritizing the client's needs, goals, and autonomy in the therapeutic process, fostering collaboration and shared decision-making.
            </p>
          </li>
          <li>
            <strong>
              Transparency
            </strong>
            <p>
              Open and honest communication with clients about the therapeutic process, expectations, and any relevant information, promoting trust and collaboration.
            </p>
          </li>
        </ul>
      
        <h2 class="title-xs title-underline title-underline-xs">
          Principles
        </h2>
        
        <p>
          We  may use biblical principles and teachings as a foundation for addressing various mental health issues. This could include exploring issues such as forgiveness, grace, love, and the importance of community.
        </p>
        
        <ul class="list-unstyled">
          <li>
            <strong>
              Prayer and Spirituality      
            </strong>
            <p>
              Prayer and spirituality are often integral components of Christian faith psychotherapy. We may encourage clients to incorporate prayer into their healing process and explore how their faith can provide strength and guidance.
            </p>
          </li>
          <li>
            <strong>
              Value of Community and Support
            </strong>
            <p>
              We emphasize the importance of community and support within the context of a church or Christian fellowship. Building a sense of belonging and connection with others is often seen as a crucial aspect of mental health.
            </p>
          </li>
          <li>
            <strong>
              Holistic Approach
            </strong>          
            <p>
              We  take a holistic approach, addressing not only mental and emotional well-being but also considering the spiritual, physical, and social aspects of a person's life.
            </p>  
          </li>
          <li>
            <strong>
              Respect for Diversity of Beliefs
            </strong>
            <p>
              We  respect the diversity of beliefs among clients. While Christian principles guide the therapy, therapists are generally trained to be sensitive to clients with different religious or spiritual backgrounds
            </p>
          </li>    
        </ul>

      </div>
    </div>
  </div>
</div>