$body-bg-color: #F8F5EE;
$navbar-bg-color: #F8F5EE;

$contact-bar-bg: #F8F5EE;
$contact-bar-color: #222;

$primary-color: #F9CC48;
$primary-color-light: #FAD98A;

$second-color: #69995D;

$hero-gray: #fbfaf8;

$footer-bg: transparent;
$footer-color: #333;

$btn-book-color: #333;
$btn-book-background: #F9CC48;

html { 
  scroll-behavior: smooth; 
}

body {
  background-color: $body-bg-color;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
}

header {
  margin-top: 20px;
}

.icon-primary {
  background: $primary-color;
  color: #333;
  padding: 5px;
}

.icon-inline-block {
  display: inline-block;
}

a {  
  color: #222;
  text-decoration: underline;
}

[data-entrance] { visibility: hidden; }

.offcanvas {
  background-color: $body-bg-color;
}

.offcanvas-header {
  background-color: $hero-gray;
}

.offcanvas-body {
  background-color: $body-bg-color;
}

.link-highlight {
  background-color: $primary-color-light;
  color: #222;
  text-decoration: underline;
}

.contact-bar {
  background: $contact-bar-bg;
  color: $contact-bar-color;
  margin-bottom: 10px;

  a {
    color: $contact-bar-color;
    &:hover {
      color: $contact-bar-color;
    }
  }
}

.list-unstyled {
  margin: 0;

  li {
    list-style: none;
  }
}

.navbar {
  background: $navbar-bg-color;
  .nav-link {
    color: #222;
    font-weight: bold;
    transition: all 0.25s ease-out;
  }  
}

.navbar-toggler {
  background: #fff;
}

.logo {
  width: 100px;
}

.logo-mobile {
  width: 150px;
}

h1, h2, h3, h4 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;

  small {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;    
  }
}

h5 {
  font-weight: normal;
}

.section-lg, .section, .section-sm {
  .title {    
    font-weight: bold;
    margin-bottom: 40px;

    small {      
      font-family: "Open Sans", sans-serif;
      display: block;
      font-size: 1rem;
      font-weight: normal;      
      width: auto;
    }
  }

  .title-xs {
    font-weight: bold;
    margin-bottom: 20px;

    small {      
      display: block;
      font-size: 1rem;
      font-weight: normal;      
      width: auto;
    }
  }
}

.section-lg {
  padding: 60px 0;   
}

.section {
  padding: 40px 0;
}

.section-sm {
  padding: 20px 0;
}

.title-underline {
  &:after {      
    background: $primary-color;
    content: '';
    display: block;
    height: 5px;    
    margin-top: 10px;
  }
}

.title-underline-xs {
  &:after {          
    width: 10%;    
  }
}

.title-underline-sm {
  &:after {          
    width: 25%;    
  }
}

.title-underline-md {
  &:after {          
    width: 50%;    
  }
}

.title-underline-center {
  &:after {          
    margin: 10px auto 0 auto;
  }
}

.title-underline-left {
  &:after {          
    margin: 10px 0 0 0;
  }
}

.section-border-top {
  border-radius: 0% 100% 0% 100% / 100% 7% 93% 0%;
}

.section-border-bottom {
  border-radius: 100% 0% 100% 0% / 4% 93% 7% 96%;
}

.section-border {
  border-radius: 100% 0% 100% 0% / 4% 93% 7% 96%;
}

.section-gray {
  background: $hero-gray;  
}

.hero-section {
  background: $hero-gray;
  padding: 60px 0;
  border-radius: 100% 0% 100% 0% / 4% 93% 7% 96%;
  position: relative;
  overflow: hidden;
  z-index: 1;

  h1 {
    font-weight: 800;
    margin-bottom: 40px;    
  }

  .hero-section-content {
    font-size: 20px;
  }
}

.therapist-card {
  background: #fff;
  overflow: hidden;
  img {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .content {
    padding: 20px;
  }
}

.custom-card {
  background-color: #fff;
  .custom-card-image {
    margin-bottom: 10px;
  }
  .custom-card-title {
    padding: 10px 20px 0 20px;
  }
  .custom-card-body {
    padding: 20px;
  }  
}

.side-bar {
  
  a {
    transition: all 0.25s ease-out;  
    color: #333;
    font-weight: bold;
    padding: 10px 10px;

    &:hover {
      background: $primary-color-light;
      color: #333;
      padding: 10px 20px 10px 30px;
    }
  }

  .active {
    background: $primary-color-light;
    color: #333;
    padding: 10px 20px 10px 30px;
  }
  
}

.hero-card {
  background: #fff;
  margin-bottom: 20px;
  transition: all 0.25s ease-out;
  position:relative;
  filter: grayscale(50%);
  &:hover {
    filter: none;  
  }

  .hero-card-image-holder {
    background: #fff;    
    margin-bottom: 10px;
    overflow: hidden;
  }
  .hero-card-title {
    font-weight: bold;
    padding: 5px 20px 10px 20px;
  }
  .hero-card-content {
    background: #fff;    
    padding: 5px 20px 10px 20px;    
  }

  .hero-card-action-holder {
    padding: 20px 10px 20px 20px;    
  }

  .hero-card-action {
    position: absolute;
    bottom: 20px;
    right: 20px;    
  }
}

.naked-card {
  padding: 20px;
  margin-bottom:20px;

  .naked-card-image-holder {
    margin-bottom: 20px;
    
    .naked-card-image {
      display: block;
      height: 200px;
      margin: 0 auto;
    }
  }

  .naked-card-content {
    font-size: 16px;    
  }
}

.generic-card {
  overflow: hidden;
  .generic-card-icon {
    font-size: 48px;
    text-align: center;
    display: block;
    margin:0 auto;
    padding: 20px 0;
    overflow: hidden;
  }
  .generic-card-image-holder {    
    background-color: $primary-color-light;    
    overflow: hidden;
  }
  .generic-card-content {
    background: #fff;
    padding: 20px;
    overflow: hidden;
  }
  .generic-card-full-link {
    display: block;
    width: 100%;
  }
}

.btn-book {
  background: $btn-book-background;
  color: $btn-book-color;
  font-weight: bold;
  &:hover {
    background: $primary-color;
  }
}

.accordion-flush {
  .accordion-header {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }
  .accordion-button {
    font-weight: bold;
  }

  .accordion-button:not(.collapsed) {
    background-color: $primary-color-light;
    color: #333;
  }

  .accordion-body {
    transition: all 0.25s ease-out;
    border-bottom: solid 1px #ccc;
    box-shadow: 0 .5rem 1rem rgba($primary-color-light, .5);        
  }
}

footer {
  background: $footer-bg;
  
  ul {
    margin: 0 0 20px 0;
    padding: 0;

    li {
      list-style: none;

      strong {
        color: $footer-color;
      }

      a {
        color: $footer-color;
        display: block;
        font-weight: normal;
        text-decoration: none;
        padding: 5px 0;
      }
    }
  }

  p {
    color: $footer-color;
  }
}

// Responsive changes
// Small devices (landscape phones, 576px and up)
@media (min-width: 1px) {  
  #main-menu.show, #main-menu.collapsing {
    background: #fff;
    border: solid 1px #ddd;
    box-shadow: 0 .5rem 1rem rgba(#333, .15);
    padding: 0;
    margin-top: 20px;
  
    .nav-item {
      padding: 5px 10px;
      border-bottom: solid 1px #ddd;
    }
  }

  .google-contact-form {
    height: 1734px;
  }

  .google-book-form {
    height: 3390px;
  }
}

// Responsive changes
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  
  .google-contact-form {
    height: 1600px;
  }

  .google-book-form {
    height: 2930px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
  .google-contact-form {
    height: 1600px;
  }

  .google-book-form {
    height: 2930px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #main-menu.show, #main-menu.collapsing {
    background: none;
    border: none;
    box-shadow: none;    
    margin-top: 0;
    padding: 10px 0;

    .nav-item {
      border-bottom: none;
      padding: 30px 0;
    }
  }

  .navbar {
    .navbar-brand {
      margin: 0;
    }
    .nav-item {
      padding: 30px 0;
    }    
    .nav-link {      
      &:hover {
        background: $primary-color-light;
      }
    }
    .active {
      background: $primary-color-light;
    }
  }

  .hero-card {
    .hero-card-image-holder {
      // height: 220px;
    }
  }

  .google-contact-form {
    height: 1600px;
  }

  .google-book-form {
    height: 2930px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {     
  .hero-card {
    .hero-card-image-holder {
      // height: 235px;
    }
  }

  .google-contact-form {
    height: 1600px;
  }

  .google-book-form {
    height: 2930px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
  .google-contact-form {
    height: 1600px;
  }
  .google-book-form {
    height: 2930px;
  }
}